{{> headerAd}}
<!-- Nội dung -->
<div id="content">
  <div class="mt-4">
    <h3 style="color: rgb(255, 0, 0);">ORDER DETAILS</h3>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {{#each order.products}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td>{{name}}</td>
        <td>{{quantity}}</td>
        <td>{{price}}</td>
        <td>{{subtotal}}</td>

      </tr>
      {{/each}}
    </tbody>
  </table>
 
</div>
</div>
